* {
  box-sizing: border-box;
  font-family: 'Anek Tamil', sans-serif;
}
.header {
  display:flex;
  justify-content: space-between;
  margin: 0;
  background-color: #7561ab;
  color: white;
}
h2{
  margin-top: 5px;
  font-weight: 300;
}
.bordername{
  margin-top: 10px;
  height: 30px;
  border-right: 3px solid grey;
  border-width: thin;
}
.gbell{
background-color: #7561ab;
  padding-right: 0;
  border:none;
  cursor:pointer;
    margin-right: 0;
}
#generalNoti{
  display: grid;
}
.bell {
  height: 50px;
  width:25px;
  fill:white;

  }
.profilepic{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding:6px;
  margin-right: 6px;
}
.namebell {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
h4 {
  margin-top: 15px;
  font-weight: 100;
}
.navicons{
  display: flex;
  justify-content: space-around;
  background-color: #3c3475;
  height: 50px;
}
.homeicon, .baricon, .peopleicon, .settingsicon {
  margin-top: 10px;
  height: 30px;
  fill:white;
}
.dashboard{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 25% 90%;
  width:100% ;
}
.dashboardtext{
  text-align: center;
}
.dashboardtext h3 {
  font-weight: 300;
}
.rectangle{

width:80%;
border-left:3px solid #e3e3e3;
border-bottom: 3px solid #e3e3e3;
background-color: #ededed;
margin-top: 0;
}
.alert{

text-align: center;
margin-left: 15px;
border-radius:5px;
background-color: #7561ab;
font-weight: 300;
color:white;
width:85%;
}
#close {
  background-color: #7561ab;
  border:none;
  color:white;
  cursor:pointer;
}
#traffic{
  margin-bottom: 0;
}
#traffic h3 {
  font-weight: 300;
}
.timespan {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}
.timespan h4, .daily h3, .mobile h3, .socialStats h3, .facebookStats h4, .facebookStats p {
  font-weight: 300;
}
.timespan h4:hover{
  background-color: lightgreen;
  border-radius: 25px;
}
.timespanChart, .daily, .mobile, .socialStats, .victoria, .dale, .dawn, .dan, .messageUser {
  padding-bottom: 10px;
  border-bottom: 5px solid lightgrey;
  border-width: thin;
}
.facebook, .instagram, .twitter{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  background-color: #ededed;
  margin:10px;
}
.icon{
  background-color: #7561ab;
  border-radius: 50%;
  height:60px;
  width:60px;
  margin-left: 10px;
}
.facebookIcon, .instagramIcon, .twitterIcon{
  height: 100px;
  width:75px;
  margin-right: 0;
  margin-left: 10px;
  fill:white;
}
.facebookStats h4, .facebookStats p, .instagramStats h4, .instagramStats p, .twitter h4, .twitter p{
  margin-bottom:0;
  margin-top: 0;
  font-weight: 300;
}
.facebookStats p, .instagramStats p, .twitter p {
font-size:2em;
color:grey;
}
.facebookStats h4, .instagramStats h4, .twitter h4 {
  color:#7561ab;
}
.membersHeading h3, .recentActivityHeading, .messageHeading h3, .settingsHeading h3 {
font-weight: 300;
}
.newMembers{
  display: grid;
}
.victoria, .dale, .dawn, .dan {
  display: grid;
  grid-template-columns: 1fr;
  justify-items:center;
  margin:10px;
}
.victoria img, .dale img, .dawn img, .dan img {
  border-radius:50%;
  height:85px;
  width:85px;
}
.vicName, .daleName, .dawnName, .danName {
  display: grid;
  justify-items:center;

}
.vicName h4, .vicName p, .daleName h4, .daleName p, .dawnName h4, .dawnName p, .danName h4, .danName p {
  font-weight: 300;
  margin:0;
}
.vicName p, .daleName p, .dawnName p, .danName p {
  color:#7561ab;
}
.signUp h4{
  margin:0;
  font-weight: 300;
}

#search {
  width:100%;
  height:3em;
  border-radius:5px;
  background-color: #ededed;
  border: 2px solid lightgrey;
  margin-bottom:20px;
}
#message {
  width:100%;
  height: 10em;
  border-radius: 5px;
  background-color: #ededed;
  border: 2px solid lightgrey;
}
#sendButton{
  width:100%;
  height: 3em;
  background-color: #7561ab;
  color:white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.emailNoti, .profilePub  {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.timezone, .emailNoti, .profilePub {
  margin-top: 10px;
}
#time {
  width: 100%;
  background-color: #ededed;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-top: 10px;
  height:3em;
}
.saveOrCancel {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 10px;
  width:100%;
  grid-column-gap: 15px;;
}
#saveButton{
  height: 3em;
  background-color: #7561ab;
  color:white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid lightgrey;
  width:90%;

}
#cancelButton {
  height: 3em;
  background-color: darkgrey;
  color:white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid lightgrey;
  width:90%;
}
footer h5{
  text-align: center;
  font-weight: 100;
}
